= simple_form_for @user, url: user_profile_path do |f|

	.row
		.col-md-6
			= f.input :name

		.col-md-6
			%h4 Pozostaw puste, jeśli nie chcesz zmieniać
			= f.input :old_password
			= f.input :password
			= f.input :password_confirmation

	= f.button :submit, value: 'Zapisz profil'