<div class="container-fluid challenge-container" 
    ng-app="challenge" ng-controller="TextController as textCtrl" ng-init="textCtrl.setUrl('<%= challenge_path(@challenge.id) %>')">
  <div class="panel">
    <div class="panel-heading challenge-stats">
      <div class="pull-right">
        <span class="label label-default" ng-bind="textCtrl.challenge.time_left | timeLeft"></span>
      </div>
      <p><span class="label label-default" ng-class="textCtrl.wordCountMet() ? 'label-success' : 'label-warning'">Liczba słów: {{textCtrl.word_count}} / {{textCtrl.challenge.target_word_count }}</span></p>
      <p class="words">
        <span class="label label-default" ng-class="textCtrl.wordInContent(word) ? 'label-success' : 'label-warning'" ng-repeat="word in textCtrl.challenge.words">{{ word }}</span>
      </p>
    </div>
    <div class="panel-body">
      <div class="alert alert-danger" role="alert" ng-show="textCtrl.failed_attempt">
        Niestety, tym razem nie udało Ci się sprostać wyzwaniu. Nie poddawaj się jednak. Powodzenia w przyszłości!<br/>
        <%= link_to 'Daj mi nowe wyzwanie', new_challenge_path %>.
      </div>
      <form class="form-horizontal" action="<%= challenge_path(@challenge.id) %>" ng-submit="textCtrl.onFormSubmit($event)">
        <div class="form-group">
          <textarea class="form-control challenge-input" autofocus 
            ng-model="textCtrl.content" ng-change="textCtrl.contentUpdated()" ng-disabled="textCtrl.failed_attempt"
            id="challenge_content" name="challenge[content]">
              {{text.content}}
            </textarea>
        </div>
        <button ng-show="textCtrl.isValid()" class="btn btn-success">Wyślij</button>
      </form>
    </div>
  </div>
</div>

<%= content_for :head do %>
  <script>
    window.challenge = <%=raw @challenge.to_json %>;
    window.challenge.time_left = <%= (@challenge.started_at + @challenge.time_limit.minutes - Time.now).to_i %>;
  </script>
<%- end -%>