.row
	.col-md-12
		.jumbotron.center.cta
			%h1 Podejmij wyzwanie!
			- if logged_in?
				= link_to 'Rozpocznij wyzwanie', new_challenge_path, class: 'btn btn-success'
			- else
				= link_to 'Zarejestruj się', new_user_registration_path, class: 'btn btn-info'
				= link_to 'Zaloguj się', new_user_session_path, class: 'btn btn-info'
				= link_to 'Zaloguj się Facebookiem', user_auth_at_provider_path(:provider => :facebook), class: 'btn btn-info'
		.second-line
			.row
				.col-md-6
					%h2.center O co chodzi?

					.justify
						:markdown
							Wyzwanie pisarskie jest proste (choć nie znaczy to, że łatwe). Otrzymujesz określoną liczbę słów oraz limit czasowy. Musisz stworzyć krótkie opowiadanie, które będzie zawierać zadanie Ci słowa oraz zmieścić się w limicie czasowym. Jeśli Ci się uda, Twoja praca zostanie zapisana. Jeśli nie, stracisz ją.

							Pamiętaj, że musisz użyć słów w dokładnie takiej formie, w jakiej zostały zadane.
				.col-md-6
					%h2.center Najnowsze wyzwania

					%ul
						- @latest_challenges.each do |challenge|
							%li
								= link_to challenge.display_title, challenge
								by
								= challenge.user.name