.row
	- @challenge_levels.each do |level|
		.col-md-3
			= simple_form_for level, url: challenges_path, class: 'challenge-level' do |f|
				%h3= level.name
				%ul
					%li Minimum #{level.target_word_count} słów
					%li #{level.time_limit} minut
					%li Losowanych słów: #{level.words}
				= f.input :internal_name, as: :hidden
				= f.button :submit, value: 'Stwórz mi wyzwanie'