/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sass-official/assets/stylesheets/_bootstrap-sprockets";
 @import "bootstrap-sass-official/assets/stylesheets/_bootstrap";

body {
}

.main-container {
	max-width: 1200px;
	margin: auto;
}

.jumbotron.cta {
	background-image: image-url('notebook.jpg');
	background-size: cover;
	background-position: center;

	border-radius: 10px;

	h1 {
		width: 100%;
		background-color: rgba(255,255,255,0.6);
	}
}

.completed {
	color: green;
}

.center {
	text-align: center;
}

.challenge-stats {
	font-size: 2em;

	.words .label {
		margin: 0 2px;
	}
}

.challenge-container {
	max-width: 48em;
}

.challenge-body {
	max-width: 40em;
	margin: auto;
	font-size: 1.2em;
	line-height: 1.6em;
	font-family: 'Lato', sans-serif;
	text-align: justify
}

textarea.challenge-input {
	width: 100%;
	min-height: 12em;
	line-height: 1.5em;
	font-size: 1.3em;
}

.justify {
	text-align: justify;
}

.second-line {
	font-size: 1.2em;
}