<!DOCTYPE html>
<html>
<head>
	<title>WritingChallenge</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>
	<%= yield :head %>
	<script type="text/javascript">
		WebFontConfig = {
			google: { families: [ 'Lato::latin,latin-ext' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})(); </script>
</head>
<body>
<%= render partial: 'shared/navbar' %>
<div class="row main-container">
	<div class="col-md-12">
		<% flash.each do |key, val| %>
			<div class="alert"><%= val %></div>
		<% end -%>
		<%= yield %>
	</div>
</div>

</body>
</html>
