= simple_form_for(@user, url: user_registration_path, html: {class: 'form form-horizontal'}, wrapper: 'horizontal_form') do |f|
	= f.input :name
	= f.input :email
	= f.input :password
	= f.input :password_confirmation

	= f.button :submit